mat-toolbar {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

mat-sidenav {
  background: #195902;
}

mat-nav-list a[mat-list-item] {
  color: #1976d2;
  font-weight: 500;
  border-radius: 4px;
  margin-bottom: 4px;
  transition: background 0.2s;
}

mat-nav-list a[mat-list-item]:hover {
  background: #e3f2fd;
  color: #1565c0;
  ;
}

mat-nav-list a[mat-list-item].active {
  background: #bbdefb;
  color: #d32f2f;
  border-left: 4px solid #d32f2f;
}